@tailwind base;
@tailwind components;
@tailwind utilities;

/* 字型載入 */
@layer base {
  body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f0f0f0;
  }
}

@layer utilities {
  .squada {
    font-family: "Squada One", cursive;
  }
  .paytone {
    font-family: 'Paytone One', sans-serif;
  }
  .h2{
    @apply squada text-[32px] leading-[1.0625] mb-2
  }
  .writing_lr {
    writing-mode: vertical-lr;
  }
  .btn {
    @apply squada w-[132px] block text-lg leading-[1.0555] py-2 px-12 ;
  }
  .btn-white {
    @apply bg-white ml-auto ring-1 ring-black;
  }
  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    bottom:0;
    right:0;
    border-style: solid;
    border-width: 0 0 16px 16px;
    border-color: transparent transparent #E6553B transparent;
  }
  .border-black {
    border-color: transparent transparent black transparent;
  }
}
