.btn-group{
  &:hover{
    .btn-white {
      background-color: black;
      color: #E6553B;
    }
    .triangle {
      border-color: transparent transparent black transparent;
    }
  }
}

h3{
  color: #E6553B;
}